<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin</title>
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/custom.css" />
    <link
      href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body>
    <!-- Navbar -->
    <div class="container navbar-bg radius-10 mt-3 mb-4">
      <nav class="navbar navbar-expand-lg">
        <div class="container-fluid">

          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="d-flex align-items-center">
              <form class="form-inline d-sm-block d-md-none ms-auto">
                <a
                  href="{% url 'login' %}"
                  class="btn btn-danger my-2 my-sm-0"
                  style="padding: 15px 20px"
                >
                  <img
                    src="/static/assets/ic_logout.png"
                    class="me-2"
                    alt="logout"
                    width="24"
                  />Logout
                </a>
              </form>
            </div>
            <!-- Desktop Button -->
            <a
                href="{% url 'adminCrud' %}"
                class="btn btn-primary btn-navbar-right ms-3 d-flex align-items-center radius-10"
                style="padding: 15px 20px"
              >Emiten Management
              </a>
            <form class="form-inline ms-auto mt-3 d-none d-md-block vl">
              <a
                href="{% url 'login' %}"
                class="btn btn-danger btn-navbar-right ms-3 d-flex align-items-center radius-10"
                style="padding: 15px 20px"
              >
                <img
                  src="/static/assets/ic_logout.png"
                  class="me-2"
                  alt="guide"
                  width="24"
                />Logout
              </a>
            </form>
          </div>
        </div>
      </nav>
    </div>
    <!-- End Navbar -->

    {% if alert %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert" style="text-align:center;">
        <strong>Sign In Failed!</strong> Please check your credentials.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endif %}

    <div class="container mb-5">
      
      <!-- <div class="mb-3">
        <label for="basic-url" class="form-label text-label">File</label>
        <div class="input-group mb-3" style="height: 52px">
          <span class="input-group-text" id="basic-addon1"
            ><img src="assets/ic_file.svg" alt="file"
          /></span>
          <input
            type="text"
            class="form-control"
            placeholder="Upload File"
            aria-label="Upload File"
            aria-describedby="basic-addon1"
          />
        </div>
      </div> -->
      <form class="row g-3" action="" method="POST">
        {% csrf_token %}
        <div class="row mb-3">
          <div class="col">
            <div class="mb-3">
              <label for="basic-url" class="form-label text-label"
                >Persentase Data Training</label
              >
              <div class="input-group mb-3" style="height: 52px">
                <span class="input-group-text" id="basic-addon1"
                  ><img src="/static/assets/ic_batch_size.svg" alt="batch"
                /></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter number"
                  aria-label="Enter number"
                  aria-describedby="basic-addon1"
                  name="training"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="mb-3">
              <label for="basic-url" class="form-label text-label"
                >Epoch</label
              >
              <div class="input-group mb-3" style="height: 52px">
                <span class="input-group-text" id="basic-addon1"
                  ><img src="/static/assets/ic_batch_size.svg" alt="batch"
                /></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter number"
                  aria-label="Enter number"
                  aria-describedby="basic-addon1"
                  name="epoch"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="basic-url" class="form-label text-label"
                >Learning Rate</label
              >
              <div class="input-group mb-3" style="height: 52px">
                <span class="input-group-text" id="basic-addon1"
                  ><img src="/static/assets/ic_batch_size.svg" alt="batch"
                /></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter number"
                  aria-label="Enter number"
                  aria-describedby="basic-addon1"
                  name="learningRate"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="mb-3">
              <label for="basic-url" class="form-label text-label"
                >Batch Size</label
              >
              <div class="input-group mb-3" style="height: 52px">
                <span class="input-group-text" id="basic-addon1"
                  ><img src="/static/assets/ic_batch_size.svg" alt="batch"
                /></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter number"
                  aria-label="Enter number"
                  aria-describedby="basic-addon1"
                  name="batchSize"
                />
              </div>
            </div>
          </div>
          <div class="col">
            <div class="mb-3">
              <label for="basic-url" class="form-label text-label"
                >Time Step</label
              >
              <div class="input-group mb-3" style="height: 52px">
                <span class="input-group-text" id="basic-addon1"
                  ><img src="/static/assets/ic_batch_size.svg" alt="batch"
                /></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter number"
                  aria-label="Enter number"
                  aria-describedby="basic-addon1"
                  name="timeStep"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <div class="mb-3">
              <label for="basic-url" class="form-label text-label"
                >Layers</label
              >
              <div class="input-group mb-3" style="height: 52px">
                <span class="input-group-text" id="basic-addon1"
                  ><img src="/static/assets/ic_batch_size.svg" alt="batch"
                /></span>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Enter number"
                  aria-label="Enter number"
                  aria-describedby="basic-addon1"
                  name="layers"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="d-flex justify-content-end">
          <div class="text-danger me-1">*</div>
          <p class="mb-0 font-14 text-medium text-donker">
            Generate your attachment will be showing the result
          </p>
        </div>
        <button
          type="submit"
          class="btn btn-outline-primary"
          style="padding: 15px 20px"
        >
          Generate
        </button>
      </form>
    </div>

    <div class="container mt-4">
      <div class="row">
        <div class="col">
          <div class="card card-chart mb-3">
  
            <div class="card-body">
              <div class="d-flex align-items-center mb-3" style="background-color: transparent;">
                <div class="d-flex align-items-center">
                  <h5 class="ms-2 mb-0 font-16 text-bold text-black">Comparison of Original, Training, and Testing Data</h5>
                </div>
              </div>
              <div id="valChart"></div>
            </div>
          </div>
  
        </div>
  
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.6.0.js"
      integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
      crossorigin="anonymous"
    ></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script> -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js"
      integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    <script src="/static/js/chart.js"></script>
    <script src="/static/plugins/apexcharts-bundle/js/apexcharts.min.js"></script>
    <script src="/static/plugins/apexcharts-bundle/js/apex-custom.js"></script>

    <script>
      {% comment %} var options = {
        series: [
          {
            name: "Orginal Data",
            data: {{ original_data|safe }},
          },
        ],
        chart: {
          foreColor: "#9ba7b2",
          height: 360,
          type: "line",
          zoom: {
            enabled: false,
          },
          toolbar: {
            show: false,
          },
          dropShadow: {
            enabled: true,
            top: 3,
            left: 14,
            blur: 4,
            opacity: 0.1,
          },
        },
        stroke: {
          width: 2,
          curve: "smooth",
        },
        fill: {
          type: "gradient",
          gradient: {
            shade: "light",
            gradientToColors: ["#7d67ff"],
            shadeIntensity: 1,
            type: "horizontal",
            opacityFrom: 1,
            opacityTo: 1,
            stops: [0, 100, 100, 100],
          },
        },
        colors: ["#7d67ff"],
      }; {% endcomment %}

      var options = {
        series: [{
        name: 'Original Data',
        data: {{ original_data|safe }}
      }, {
        name: 'Training Data',
        data: {{ training_data|safe }}
      },
      {
        name: 'Testing Data',
        data: {{ testing_data|safe }}
      },],
        chart: {
        height: 350,
        type: 'line',
        zoom: {
          type: 'x',
          enabled: true,
          autoScaleYaxis: true
        },
        toolbar: {
          autoSelected: 'zoom'
        },
        animations: {
          enabled: false
        }
      },
      stroke: {
        width: [2,2,2],
        curve: 'straight'
      },
      title: {
        text: 'R2 Score : ' + {{test_r2_score|safe}} + ' MSE Score : ' + {{testing_mse|safe}} + ' \nMAPE Score : ' + {{test_error_percentage|safe}}
      },
      xaxis: {
      },
      colors: ['#FF0000', '#00FF00', '#FFFF00'],
      };

      var chart = new ApexCharts(document.querySelector("#valChart"), options);
      chart.render();
    </script>
    
    
  </body>
</html>
